! 1080以下不用设置，默认是96，推荐设置：
! 150% - 144
! 175% - 168
! 200% - 192

Xft.dpi:                    96
! Xft.dpi:                    144 
Xft.rgba:                   rgba

! 关闭自动hint
Xft.autohint:               0
Xft.lcdfilter:              lcddefault
Xft.hinting:                1
Xft.hintstyle:              hintfull
Xft.antialias:              1

! 基础设置
URxvt.title:Rxvt-Unicode
URxvt.preeditType:Root
URxvt.inputMethod:fcitx
URxvt.depth:32
URxvt.fading: 0
URxvt.shading: 20
URxvt.geometry: 90x30
URxvt.lineSpace: 0
URxvt.internalBorder: 3
! URxvt.inheritPixmap:false
URxvt.transparent: false
! URxvt.urgentOnBell: true
! URxvt.visualBell: true
URxvt.loginShell: true

URxvt.iso14755: false
URxvt.iso14755_52: false

! 一定要写全名及大写的C/V,否则无效
! Shift/Control 顺序无关
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! 禁用之前的复制粘贴方案
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

! 字体设置
URxvt.multichar_encoding: utf-8
URxvt.imLocale: zh_CN.UTF-8
URxvt.font:xft:Monaco:antialias=true:pixelsize=16,xft:WenQuanYi\ Zen\ Hei\ Mono:antialias=true:pixelsize=16
URxvt.boldfont:xft:Monaco:antialias=true:pixelsize=16,xft:WenQuanYi\ Zen\ Hei\ Mono:antialias=true:pixelsize=16
!URxvt*letterSpace: 1

! 滚动条
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false
URxvt.saveLines: 1000

! Cursor
URxvt.cursorBlink: true
URxvt.cursorColor: #657b83
URxvt.cursorUnderline: false

! Pointer
URxvt.pointerBlank: true

! Perl extensions
URxvt.perl-ext-common: default,tabbed,keyboard-select,url-select

! 点击打开url
URxvt.url-launcher: chromium
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5

! 标签窗口tabbed
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0

! 选择搜索
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.C-s: perl:keyboard-select:search
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

! 选择打开url
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true

*.alpha: 255
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #282A36
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6
termname: st-256color

font: Source Code Pro:pixelsize=16:antialias=true:autohint=true
