[Unit]
Description=Aria2 Service
After=network.target

[Service]
Type=forking
WorkingDirectory=%h
ExecStart=/usr/bin/aria2c --daemon --enable-rpc --rpc-listen-all --rpc-allow-origin-all -c -D  --conf-path=/home/yksoul/.config/aria2/aria2.conf

[Install]
WantedBy=default.target
